apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-custom-config
  namespace: {{ .Values.namespace | default "monitoring" }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: {{ .Values.alertmanager.resolveTimeout | default "5m" }}
      smtp_smarthost: {{ .Values.alertmanager.smtp.smarthost | quote }}
      smtp_from: {{ .Values.alertmanager.smtp.from | quote }}
      smtp_auth_username: {{ .Values.alertmanager.smtp.username | quote }}
      smtp_auth_password: {{ .Values.alertmanager.smtp.password | quote }}
      smtp_require_tls: {{ .Values.alertmanager.smtp.requireTLS | default true }}
    
    route:
      receiver: {{ .Values.alertmanager.defaultReceiver | default "email" | quote }}
      group_by: {{ .Values.alertmanager.groupBy | default (list "alertname") | toYaml | nindent 6 }}
      group_wait: {{ .Values.alertmanager.groupWait | default "10s" }}
      group_interval: {{ .Values.alertmanager.groupInterval | default "10s" }}
      repeat_interval: {{ .Values.alertmanager.repeatInterval | default "12h" }}
      routes:
        {{- range .Values.alertmanager.routes }}
        - receiver: {{ .receiver | quote }}
          matchers:
            {{- range .matchers }}
            - {{ . }}
            {{- end }}
          {{- if .groupWait }}
          group_wait: {{ .groupWait }}
          {{- end }}
          {{- if .groupInterval }}
          group_interval: {{ .groupInterval }}
          {{- end }}
          {{- if .repeatInterval }}
          repeat_interval: {{ .repeatInterval }}
          {{- end }}
        {{- end }}
    
    receivers:
      {{- range .Values.alertmanager.receivers }}
      - name: {{ .name | quote }}
        {{- if .emailConfigs }}
        email_configs:
          {{- range .emailConfigs }}
          - to: {{ .to | quote }}
            {{- if .sendResolved }}
            send_resolved: {{ .sendResolved }}
            {{- end }}
            {{- if .headers }}
            headers:
              {{- range $key, $value := .headers }}
              {{ $key }}: {{ $value | quote }}
              {{- end }}
            {{- end }}
            {{- if .html }}
            html: {{ .html | quote }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}